<div class="container">
  <div class="jumbotron mb-3 mt-3 text-center p-5">
    <h1 class="display-4">BURGERS</h1>
    <h5 class="display-5 text-center">Let's eat 'em</h5>
    <img src="/assets/burger1.png" alt="Cartoon Burger" width="60" height="60" style="vertical-align:middle">
  </div>

  <div class="row m-0">
    <div class="col-md p-0 m-0 mb-3">
      <div class="row m-0">
        <div class="col-md border p-3 mb-3 bg-cake text-center">
          <h4 class="text-burger p-0 m-0">Burgers to EAT!</h4>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md border p-3 bg-cake" style="height: 365px">
          <div class="card overflow-auto" style="height: 330px">
            <div class="card-body text-center">
              <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-space"></div>
    <div class="col-md m-0 p-0 mb-3">
      <div class="row m-0">
        <div class="col-md col-md border p-3 mb-3 bg-cake text-center">
          <h4 class="text-burger p-0 m-0">Burgers in my TUMMY!</h4>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md border p-3 bg-cake" style="height: 365px">
          <div class="card overflow-auto" style="height: 330px">
            <div class="card-body text-center">
              <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron mb-2 text-center p-4">
  <label class="font-weight-bold"><h4>Add a Burger:</label></h4>

  <form class="create-form">

    <div class="form-group text-center">
      <label for="bu"><strong>Burger Name:</label></strong>
      <input type="text" id="bu" name="burger_name">
    </div>

    <div class="form-group">
      <label for="hungry"><strong>Hungry?</label></strong><br>
      <input type="radio" name="devoured" value="1" checked><strong> YES!</strong><br>
      <input type="radio" name="devoured" value="0"><strong> NAH!</strong>
    </div>

    <button type="submit">Add a Burger</button>
  </form>
</div>
</div>
</div>